<div class="jumbotron jumbotron-fluid mt-ncs">
  <div class="container">
    <div id="file_news_div_news" class="ds-static-div primary">
      <img style="float:left; margin:0px 10px 0px 0px; outline:#a40b05 1px solid" src="assets/riccps/images/ric-logo-100.png"
           alt="DSpace logo">
      <p class="ds-paragraph">O Repositório Institucional do Conhecimento do Centro Paula Souza (RIC-CPS) é uma
        ferramenta informatizada capaz de gerenciar, armazenar, preservar e disseminar em formato digital o conhecimento
        científico, tecnológico, artístico-cultural e técnico-administrativo produzido nas comunidades do Centro Paula
        Souza.
      </p>
      <p></p>
    </div>
  </div>
</div>
